<div class="results">
  <h1 style=" font-family: arial ">Result</h1>
  <h4><%= @message %></h4>
  <p>Your word was: <%=@answer%></p>
  <p>Your score is: <%=@score%></p>
  <br>
  <%= link_to "Play again", new_path %>
</div>

